/.svn
/asset
/bin
/externals
/infra
/Output
/mklab/qt/moc_MkRenderWidgetHUD.cpp
ipch
*.pyd
*.pyc
*.sdf
*.suo
*.opensdf
*.vcxproj.user
x64
Debug
Release
MayaDebug
MayaRelease
*.VC.db
*.opendb
.DS_Store
UserInterfaceState.xcuserstate
